html
    head
        title #{title}
    body
        form
            select
                each mo in #{months}
                    option(value=#{mo}) #{mo}
            select
                - var day = 0
                while day <= #{maxDays}
                    option(value=#{++day})